In [31]:
import sqlite3
con = sqlite3.connect('sqlite_db_pythonsqlite.db')

In [62]:
cur = con.cursor()
# Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Rememberthat there's a different cost for guests and members! */
query_1 = '''SELECT f.name, SUM(
CASE WHEN memid =0
THEN b.slots * f.guestcost
ELSE f.membercost * b.slots
END ) AS Revenue
FROM Bookings AS b
INNER JOIN Facilities AS f ON b.facid = f.facid
GROUP BY f.name HAVING Revenue < 1000
ORDER BY Revenue DESC
LIMIT 0 , 30'''

# Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
query_2 = '''SELECT m1.surname || ',' || m1.firstname AS FullName, m2.surname ||','|| m2.firstname AS Recommender
FROM Members AS m1
INNER JOIN Members AS m2 
ON m1.recommendedby = m2.memid
WHERE m1.memid <>0
ORDER BY FullName'''

# Q12: Find the facilities with their usage by member, but not guests
query_3 = '''
SELECT f.name, SUM(slots)
FROM Facilities AS f
INNER JOIN Bookings AS b
ON f.facid = b.facid
WHERE b.memid <> 0
GROUP BY f.name'''

# Q13: Find the facilities usage by month, but not guests
query_4 = '''SELECT f.name, strftime('%m',b.starttime)AS Month, SUM(b.slots)
FROM Facilities AS f
INNER JOIN Bookings AS b
ON f.facid = b.facid
WHERE b.memid <> 0 
GROUP BY f.name, Month'''

#Edit query_# and run to execute query! https://docs.python.org/3/library/sqlite3.html
#cur.execute(query_1)

In [63]:
for row in cur.execute(query_4):
    print(row)

('Badminton Court', '07', 165)
('Badminton Court', '08', 414)
('Badminton Court', '09', 507)
('Massage Room 1', '07', 166)
('Massage Room 1', '08', 316)
('Massage Room 1', '09', 402)
('Massage Room 2', '07', 8)
('Massage Room 2', '08', 18)
('Massage Room 2', '09', 28)
('Pool Table', '07', 110)
('Pool Table', '08', 303)
('Pool Table', '09', 443)
('Snooker Table', '07', 140)
('Snooker Table', '08', 316)
('Snooker Table', '09', 404)
('Squash Court', '07', 50)
('Squash Court', '08', 184)
('Squash Court', '09', 184)
('Table Tennis', '07', 98)
('Table Tennis', '08', 296)
('Table Tennis', '09', 400)
('Tennis Court 1', '07', 201)
('Tennis Court 1', '08', 339)
('Tennis Court 1', '09', 417)
('Tennis Court 2', '07', 123)
('Tennis Court 2', '08', 345)
('Tennis Court 2', '09', 414)